<nav class="navbarclass" style="backgound-color: #ef3ffd;">
  <div>
    <a class="navbar-band">Navbar</a>
    <ul>
      <ng-container
        *ngIf="
          this.auth.isAuthenticated();
          then authenticated;
          else notAuthenticated
        "
      ></ng-container>
      <ng-template #notAuthenticated>
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li>
          <a routerLink="/register">Register</a>
        </li>
      </ng-template>
      <ng-template #authenticated>
        <li>
          <a routerLink="/dashboard">Dashboard</a>
        </li>
      </ng-template>
      <ng-template>
        <li>
          <a (click)="logout()">Logout</a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
