<div class="container">
    <img class="img-fluid" src="../../../assets/images/hero-banner.jpg" alt="Hero Banner">

    <h5 class="my-3">Testimonials</h5>

    <carousel>
        <slide>
            <table style="width:100%; height:192; margin-left:auto; margin-right: auto;">
                <tbody>
                    <tr>
                        <td rowspan="2" style="width:15%; text-align: left; font-size: 1.5em; font-weight: 800;">
                            <span>&lt;&lt;</span>
                        </td>
                        <td rowspan="2" style="width: 35%;"><span><img
                                    src="../../../assets/images/trainer.png"
                                    style="border:2px solid darkgoldenrod; border-radius:50%;" /></span>
                        </td>
                        <td style="width:35%; padding: 15px;">
                            <h6 style="padding-top:10;">Mr. Pete Tan, Associate Trainer</h6>
                        </td>
                        <td rowspan="2" style="width:15%; text-align: right; font-size: 1.5em; font-weight: 800;">
                            <p text-align="right"><span>&gt;&gt;</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:35%; padding: 15px; font-size: 14px;">
                            <p>Adobe Certified Trainer<br>
                                Adobe Certified Professional in<br>
                                Web, Visual & Video Design.<br>
                                WSQ ACTA & ACLP<br>
                                www.faceb00k.com/peter-tan/</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </slide>

        <slide>
            <table style="width:100%; height:192; margin-left:auto; margin-right: auto;">
                <tbody>
                    <tr>
                        <td rowspan="2" style="width:15%; text-align: left; font-size: 1.5em; font-weight: 800;">
                            <span>&lt;&lt;</span>
                        </td>
                        <td rowspan="2" style="width: 35%;"><span><img
                                    src="../../../assets/images/happy-square.jpg"
                                    style="border:2px solid darkgoldenrod; border-radius:50%;" /></span>
                        </td>
                        <td style="width:35%; padding: 15px;">
                            <h6 id="nameToAhLian" style="padding-top:10;">Ms. Elle Tan, Associate Trainer</h6>
                        </td>
                        <td rowspan="2" style="width:15%; text-align: right; font-size: 1.5em; font-weight: 800;">
                            <p text-align="right"><span>&gt;&gt;</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:35%; padding: 15px; font-size: 14px;">
                            <p>MicroSoft Certified Trainer<br>
                                MicroSoft Professional in<br>
                                Word, Excel & Others.<br>
                                WSQ ACTA & ACLP<br>
                                www.faceb00k.com/elle-tan/</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </slide>

    </carousel>


</div>