<p>------------------ *ngFor ------------------</p>
<br>
<table align="center" border="1px">
    <tr>
        <th>S/No.</th><th>Name</th><th>age</th>
    </tr>
    <tr *ngFor="let e of employees">
        <td>{{e.id}}</td><td>{{e.name}}</td><td>{{e.age}}</td>
    </tr>
</table>
<hr>
<div *ngFor="let c of colors; index as i">The {{i+1}}th color of rainbow is {{c}}</div>
<hr>
<p>------------------ two-way-binding ------------------</p>
<input [(ngModel)]="newName" type="text"/>
<p>Your input: {{newName}}</p>
<p>------------------ *ngIf ------------------</p>
<div *ngIf="ngIfElseBoolean; else elseBlock1">ngIfElseBoolean is True</div>
<ng-template #elseBlock1><p>ngIfElseBoolean is False</p></ng-template><br>

<div *ngIf="nextNgIfElseBoolean; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>nextNgIfElseBoolean is True</ng-template>
<ng-template #elseBlock>nextNgIfElseBoolean is False</ng-template>

