<!-- <app-navbar></app-navbar> -->
<section class="login">
  <div class="container">
    <form class="formclass" (ngSubmit)="onSubmit()">
      <div>
        <label class="form-label">Email Address</label>
        <input
          type="email"
          class="form-control"
          [(ngModel)]="formData.email"
          name="email"
        />
      </div>
      <div>
        <label class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          [(ngModel)]="formData.password"
          name="password"
        />
      </div>
      <div>
        <p class="text-danger" [innerText]="this.errorMessage"></p>
      </div>
      <button type="submit" class="btn btn-primary mb-3">Login</button>
      <div>
        <p>
          Create new account? Please
          <a routerLink="/register">Register</a>
        </p>
      </div>
    </form>
  </div>
</section>
