<input type="text" [(ngModel)]="userName" />
<div></div>
<span class="span-error-text">{{ userName }}</span>
<br />
<button class="btn btn-dark" [disabled]="userName === ''" (click)="empty()">
  Empty username field
</button>
<hr />
<button class="btn btn-primary" (click)="change()">Another toggle</button>
<div class="p-2">&nbsp;<span *ngIf="anotherTogger">True</span></div>
<hr />
<div
  class="p-2"
  *ngFor="let al of anotherLogs"
  [ngStyle]="{ backgroundColor: al >= 5 ? 'palegreen' : 'yellow' }"
  [ngClass]="{'span-error-text': al>=5 }"
>
  {{ al }}
</div>

<button class="btn btn-primary" (click)="toggle()">Display Details</button>
<div class="p-2"></div>
<span *ngIf="isTurnedToTrue">True</span
><span *ngIf="!isTurnedToTrue">False</span>
<div class="p-2" *ngFor="let log of logs; let i; be: index">{{ log }}</div>
